<!--<!DOCTYPE html>-->
<!--<html lang="en" ng-app="PMAPP">-->
<!--<head>-->
<!--     <meta charset="UTF-8">-->
<!--    <title>HOME PAGE</title>-->

<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    &lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--&lt;!&ndash; 	<link href="css/bootstrap.css" rel="stylesheet">-->
<!--    <script src="js/bootstrap.js"></script>-->
<!--    <script src="js/bootstrap.bundle.js"></script>&ndash;&gt;-->

<!--    &lt;!&ndash; Materialize &ndash;&gt;-->
<!--    <link href = "css/materialize.css" rel = "stylesheet">-->
<!--    <script src="js/materialize.js"></script>-->
<!--    &lt;!&ndash; AngularJS &ndash;&gt;-->
<!--    <script src="js/angular.js"></script>-->
<!--    <script src="js/angular-route.js"></script>-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

<!--</head>--> 
<!--<body>-->
<h3><center>Home Page</center></h3>
<img src="static/pj.jpg" width="730" height="235">
 <aside>
     <center><h2>Dash Board</h2></center>
     <ul>
         <center><a class="waves-effect  blue lighten-1 btn-small" ng-click="homeCtrl.viewGroups()">Groups</a>
         <a class="waves-effect  blue lighten-1 btn-small" ng-click="homeCtrl.viewUsers()">Users</a>
         <a class="waves-effect  blue lighten-1 btn-small" ng-click="homeCtrl.viewChats()">Messages</a></center>

     </ul>


 </aside>
<!--</body>-->
<!--</html>-->